{% extends 'base.html' %}
{% block content %}
<!-- inicio do formulario -->
<form method="post" action="{% url 'atualizar'  cliente.id %}">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Nome</label>
        <input type="text" class="form-control" id="inputEmail4" placeholder="Nome do cliente" name="nome" required value="{{cliente.nome}}"> 
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Data de nascimento</label>
        <input type="text" class="form-control" id="inputPassword4" placeholder="Data de nascimento" name="dtnasc" required value="{{cliente.dtnasc}}">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Email</label>
      <input type="email" class="form-control" id="inputAddress" placeholder="usuario@servidor.com.br" name="email" value="{{cliente.email}}">
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Telefone</label>
        <input type="text" class="form-control" id="inputCity" placeholder="(xx)xxxx-xxxx" name="telefone" required value="{{cliente.telefone}}">
      </div>
      <div class="form-group col-md-4">
        <label for="inputEstado">Estado</label>
        <select id="inputEstado" class="form-control" name="estado">
          <option selected >{{ cliente.estado }}</option>
          <option value="RJ">Rio de janeiro</option>
          <option value="SP">São Paulo</option>
          <option value="MG">Minas Gerais</option>
          <option value="ES">Espirito Santo</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputgenero">Gênero</label>
        <select id="inputgenero" class="form-control" name="genero">
            <option selected >{{ cliente.genero }}</option>
            <option value="M">Masculino</option>
            <option value="F">Feminino</option>
            
          </select>
      </div>
    </div>
    
    <button type="submit" class="btn btn-primary">Atualizar</button>
  </form>

  {% if clientes %}
  <p></p>
  <div class="alert alert-danger" role="alert">
    Cliente Editado com sucesso!!!
  </div>
  {% endif %}
<!-- fim do formulario -->
{% endblock content %}